export OS_AUTH_URL=a
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=b
export OS_PROJECT_DOMAIN_NAME=c
export OS_USER_DOMAIN_NAME=d
export OS_PASSWORD=e
export OS_AUTH_URL=http://controller:35357/v2
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=myproject
export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_NAME=admin
export OS_PASSWORD=default
export OS_AUTH_URL=http://controller:35357/v2/
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=myproject
export OS_PROJECT_DOMAIN_NAME=default
export OS_USERNAME=admin
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD=alta3
